/*
|----------------------------------------------------------------------------
	HighLine Template Parallax CSS
	Primary color: #fb9902
|----------------------------------------------------------------------------
*/

/*
|----------------------------------------------------------------------------
| COMMON BG
|----------------------------------------------------------------------------
*/
.parallax::before {
    background: rgba(255, 255, 255, 0.8);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.parallax {
	background-attachment: fixed;
	background-color: #f7f7f7;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
	position: relative;
}
/*
|----------------------------------------------------------------------------
| SERVICE
|----------------------------------------------------------------------------
*/
#service.parallax {
    background-image: url("../images/background/bg-1.jpg");
}

/*
|----------------------------------------------------------------------------
| PORTFOLIO
|----------------------------------------------------------------------------
*/
#portfolio.parallax {
    background-image: url("../images/background/bg-2.jpg");
}

/*
|----------------------------------------------------------------------------
| BLOG
|----------------------------------------------------------------------------
*/
#blog.parallax {
    background-image: url("../images/background/bg-3.jpg");
}

/*
|----------------------------------------------------------------------------
| TESTIMONIAL
|----------------------------------------------------------------------------
*/
#testimonials.parallax {
    background-image: url("../images/background/bg-4.jpg");
}

/*
|----------------------------------------------------------------------------
| SKILL
|----------------------------------------------------------------------------
*/
#success-story.parallax {
    background-image: url("../images/background/bg-5.jpg");
}